
.container {
  background: rgba(37, 36, 36, 1);
}

$tablet: 640px;

.sm {
  display: none;
}

.md {
  display: block;
  margin-bottom: 11px;
}

.xlg {
  display: none;
}

@media (max-width: $tablet) {
  .lg {
    display: none;
  }

  .sm, .md {
    display: block;
    margin-bottom: 11px;
  }

  .xlg {
    display: none;
  }
}

@media (min-width: 1051px) {

  .md {
    display: none;
  }
}

@media (min-width: 1600px) {
  .xlg {
    display: block;
    height: 100%;
    width: 100%;
  }
  .sm, .md {
    display: none;
  }
}