$tablet: 425px;

.horizontal {
  li {
    display: inline;
    padding-right: 4px;
    padding-left: 4px;

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }

  &.large-list li {
    padding-right: 8px;
    padding-left: 8px;
  }
}

.vertical li {
  padding-bottom: 8px;
}

ul.list {
  list-style-type: none;
  padding: 0;
}

.mobileOnly {
  display: none;
}
@media (max-width: $tablet) {
  .horizontal li.mobileOnly {
    display: inline;
  }

  .vertical li {
    display: block;
  }

  .horizontal li.desktopOnly, .desktopOnly {
    display: none;
  }
}