$tablet: 425px;

.tile-title {
  font-size: 24px;
  max-width: 202px;
  color: rgba(255,255,255,1);

  a {
    color: inherit;
    text-decoration: none;
  }

  &.tile-big {
    font-size: 36px;
    max-width: 605px;
  }
  &.tile-small {
    font-size: 24px;
    max-width: 125px;
  }
}

@media (max-width: $tablet) {
  .tile-title {
    font-size: 16px;
    max-width: 204px;

    &.tile-big {
      font-size: 24px;
      max-width: 243px;
    }
    &.tile-small {
      font-size: 16px;
      max-width: 100px;
    }
  }
}

.center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}